body,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1{
  margin-top:100px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  
}

header {
  background-color: #CADEFC;
  padding: 10px 0;
}

.navbar-brand {
  padding: 0 100px;
}

.btn {
  background-color: #CCA8E9;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: white;
  color: #CCA8E9;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 79px
}

nav li {
  margin-right: 21px;
}

nav a {
  text-decoration: none;
  color: #333;
}

section{
  margin-top: 179px;
}



/* Hero section 
.hero {
  text-align: center;
  padding: 100px 0;
  background-color: #DEFCF9;
} */

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 27px;
  color: #777;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #CCA8E9;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1.2rem;



}

.gradient-background {
  background: linear-gradient(300deg, #CADEFC, #C3BEF0, #DEFCF9);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.form-container {
  max-width: 400px;
  margin: 20px auto; /* Adjust the margin to create space above the form */
  padding: 20px;
  border: 1px solid #white;
  border-radius: 5px;
}



form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}


button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 20px;
  color: black;
}

.hero {
  background-image: url('image27.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  /* Adjust the height as needed */
  color: black;
  /* Adjust text color for better visibility */
  text-align: center;
  padding-top: 100px;
  /* Adjust spacing as needed */
}