body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #CADEFC;
    padding: 10px 0;
}


.navbar-brand {
  padding: 0 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 79px;
}

nav li {
   margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

}
nav1 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav1 li {
    margin-right: 20px;
}

nav1 a {
    text-decoration: none;
    color: #333;
}
nav2{
  background-color: #C3BEF0;
}
/* Hero section */
.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #DEFCF9;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #CCA8E9;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.2rem;



}

.gradient-background {
  background: linear-gradient(300deg, #CADEFC, #C3BEF0, #DEFCF9);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}




footer {
    text-align: center;
    padding: 20px;
    color: black;
}
